header {
  align-items: center;
  display: flex;
  height: 10vh;
  justify-content: space-between;
  width: 100%;
}

.gradient {
  color: #7f5af0;
  font-size: 30px;
  font-weight: 600;
}

.header-modal {
  background-color: rgba(0, 0, 0, 80%);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

li {
  margin-top: 30px;
}

.list-links {
  color: #673ce7;
  display: flex;
  flex-direction: column;
  font-size: 2em;
  font-weight: 900;
  height: 90vh;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
}

.list-links a {
  color: rgb(187, 211, 255);
  text-decoration: none;
}

li {
  margin-left: 40px;
}

.li-1 {
  animation-duration: 0.5s;
  animation-name: slidein;
}

.li-2 {
  animation-duration: 0.9s;
  animation-name: slidein;
}

.li-3 {
  animation-duration: 1.2s;
  animation-name: slidein;
}

.li-4 {
  animation-duration: 1.5s;
  animation-name: slidein;
}

.li-5 {
  animation-duration: 1.5s;
  animation-name: slideinIcons;
  display: flex;
  font-size: 2em;
  justify-content: space-evenly;
  margin-bottom: 25%;
  margin-left: 0;
}

.li-5 a {
  color: antiquewhite;
}

@keyframes slidein {
  from {
    margin-left: -100%;
    width: 300%
  }

  to {
    margin-left: 40px;
    width: 100%;
  }
}

@keyframes slideinIcons {
  from {
    margin-left: -100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
