.dark .container-projects {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
  align-items: center;
  height: 70vh;
}

.dark .page-button {
  border-radius: 30px;
  border: 3px solid #7f5af0;
  color: #2cb67d;
  font-weight: 900;
  height: 35px;
  width: 100px;
  font-size: 1.1em;
  transition: all 1s;
}

.light .page-button {
  border-radius: 30px;
  border: 3px solid #2cb67d;
  color: #078080;
  font-weight: 600;
  height: 35px;
  font-size: 1.1em;
  width: 100px;
  transition: all 1s;
}

.dark .card-project {
  border: 1px solid white;
  width: 90%;
  margin: 0 auto;
  box-shadow:rgb(116, 116, 116) 10px 10px 10px;
}

.dark .link-project {
  text-decoration: none;
}

.dark .title-project {
  background-color: rgb(129, 129, 129);
  padding: 5px;
  border-radius: 15px;
  color: aliceblue;
  text-align: center;
  margin-bottom: 10px;
  text-shadow:
    0 0 5px #fff,
    0 0 9px rgb(18, 0, 100),
    0 0 12px #fff,
    0 0 21px rgb(36, 0, 196),
    0 0 33px rgb(36, 0, 196),
    0 0 42px rgb(36, 0, 196),
    0 0 53px rgb(36, 0, 196),
    0 0 60px rgb(36, 0, 196);
}

.teste {
  height: 70vh;
}

.slide {
  height: 55vh;
}

.link-project img {
  height: 100%;
  width: 100px;
}
